* {
    margin: 0;
}

.board-container {
    background-image: linear-gradient(to right bottom, #7a9edc, #688dca, #567db8, #446da6, #315d95);
    text-align: center;
    height: 100vh;
}

.list-container {
    display: flex;
    flex-direction: row;
}
