.card-container {
    margin: 0 0 8px 0;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.card-edit-button {
    display: none !important;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.5;
}

.card-edit-button:hover {
    opacity: 0.8;
}

.card-delete-button {
    display: none !important;
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: 0.5;
}

.card-delete-button:hover {
    opacity: 0.8;
}

.card-container:hover .card-edit-button {
    display: block !important;
    cursor: pointer;
}

.card-container:hover .card-delete-button {
    display: block !important;
    cursor: pointer;
}